/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@font-face {
  font-family: "SA Long Beach";
  src: url("./fonts/SALongBeach.woff");
}

@font-face {
  font-family: "SF Pro Text";
  src: url("./fonts/SFProText-Medium.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "SF Pro Text";
  src: url("./fonts/SFProText-Bold.ttf");
  font-weight: bold;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 412px;
  padding: 0 16px;
  margin: 0 auto;
}

.game__wrapper {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100vw;
  height: calc(var(--vh, 1vh) * 100);

  background: url("./images/bg.svg") no-repeat no-repeat;
  background-size: cover;
  background-position: center center;

  overflow-x: hidden;
  font-family: "SF Pro Text";
}

.game__container {
  position: relative;

  /* padding-top: 16px;
  padding-bottom: 16px; */
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 24px auto 24px auto 24px auto;
  grid-template-rows: repeat(4, auto);
  grid-row-gap: 24px;
}

.game__title {
  color: #222222;
  font-size: 20;
  font-weight: bold;
  text-align: center;
}

.game__image {
  display: block;
  max-width: 100%;
}

.game__window {
  position: relative;
  min-height: 440px;
  background-color: #ffffff;
  border: 1px solid #a86acf;

  border-radius: 12px;
  overflow: hidden;
}

.game__layer {
  position: absolute;
  left: 0;
  top: 0;
}

.game__save {
  padding: 12px 0;

  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.03em;
  text-align: center;
  color: #ffffff;

  border-radius: 12px;
  background: #a0d160;
}

.game__options {
  max-width: 382px;
}

.options__headers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap;
  gap: 6px;
  max-width: 100%;


  overflow: auto;
  scrollbar-width: none;
}


.options__header {
  padding: 4px 12px;

  font-size: 16px;
  font-weight: normal;
  line-height: 22px;
  text-align: center;
  color: #b279d5;

  background: #f9efff;
  border-radius: 8px;

  -webkit-transition: 0.1s;

  -o-transition: 0.1s;

  transition: 0.1s;
}

.options__header.active {
  color: #ffffff;

  background: #b279d5;
}

.options__tabs {
  margin-top: 8px;
}

.options__tab {
  display: none;
  grid-auto-flow: column;
  justify-content: start;
  gap: 8px;
  max-width: 100%;

  overflow: auto;

  scrollbar-width: none;
}

.options__tab.text-preview {
  height: 65px;
}

.options__tab.active {
  display: -ms-grid;
  display: grid;
}

.options__scrollbar {
  margin-top: 8px;
  position: relative;
  height: 8px;
  background: #F4E3FF;
  border-radius: 32px;

}
.scrollbar__thumb {
  position: absolute;
  left: 0;
  top: 0;

  height: 100%;
  width: 40px;

  background: #DDA5FF;
  border-radius: 32px;
}

.tab__option {
  width: 96px;
  height: 96px;

  border: 1px solid #a86acf;
  border-radius: 12px;
  background-color: #fdf9ff;

  background-repeat: no-repeat;
  background-position: center center;
  /* background-size: 80% auto; */
  background-size: 100% auto;

  -webkit-transition: 0.1s;

  -o-transition: 0.1s;

  transition: 0.1s;
}



.tab__option.text-preview {
  height: 55px;
  width: auto;
  padding: 0 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.tab__option.text-preview span {
  text-align: center;
  white-space: nowrap;

  /* Комедия */

  font-family: "SA Long Beach";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;

  background: -webkit-gradient(linear, left top, left bottom, from(#8e48b9), to(#e4baff));

  background: -o-linear-gradient(top, #8e48b9 0%, #e4baff 100%);

  background: linear-gradient(180deg, #8e48b9 0%, #e4baff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;

  pointer-events: none;
}

.tab__option.active {
  background-color: #f4e3ff;
}
