
@font-face {
  font-family: "SA Long Beach";
  src: url("./fonts/SALongBeach.woff");
}

@font-face {
  font-family: "SF Pro Text";
  src: url("./fonts/SFProText-Medium.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "SF Pro Text";
  src: url("./fonts/SFProText-Bold.ttf");
  font-weight: bold;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body {
  background: #d6e6fd;

  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
}

.game__wrapper {
  width: 100vw;
  height: calc(var(--vh, 1vh) * 100);

  background: url("./images/bg.svg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;

  overflow-x: hidden;
}

.game__wrapper.isDragging {
  overflow: hidden;
}

.game__container {
  position: relative;

  margin-top: 32px;
}

.game__window {
  position: relative;

  width: 300px;
  height: 300px;

  background: #808080;
}

.game__trash {
  width: 94px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 12px;
}

.trash {
  max-width: 100%;
}

.game__item {
  position: absolute;

  cursor: pointer;
}
